<% provide(:title, 'Contact') %>
    <h1>Contact Page Me!</h1>
    <p>
      Use this to contact us
    </p>
 
 <div class="row">
  <div class="span6 offset3">

 <%= render 'contact_form' %> 
 
  </div>
</div>

