<% provide(:title, 'Home') %>

<div class="center hero-unit">
 <h1>My Slideshow App Home Page</h1>

  <h2>
    This is the home page for the  application.
  </h2>
<% if signed_in? %>
 Content only signed in people can see
<% else %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>

<%= image_tag("rails.png", alt: "Rails")  %>