<% provide(:title, 'Home') %>

<div class="center hero-unit">
 <h1>Slideshow App</h1>

  <h2>
    This is the home page for the  <%= Rails.configuration.site_name %>.
  </h2>
<% if signed_in? %>
 
 Click here to browse some of the content!

<% else %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>



  