<% provide(:title, 'Home') %>

<div class="center hero-unit">
 <h1>Slideshow App</h1>

  <h2>
    Where you can make your very own slide show really without even trying!
  </h2>
<% if signed_in? %>
 	<p>Click here to browse some of the content!</p>
<% else %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  
<% end %>

</div>



  