<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New User <%= @user.name %></h1>
    <p>
      <%= @user.name %> successfully signed up.<br/>
    </p>

  </body>
</html>