<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset Email</h1>
    <p>
      You requested your password to be reset. Click here to erset it
    </p>
    <p>
      If you didn't request a password reset, click here to let us know
    </p>

  </body>
</html>