<h1>Listing assets</h1>


 <%= will_paginate %>

<div class="container">
  <ul class="galleries">
  <%= render @assets %>
  </ul>
</div>

<%= will_paginate %>
<br>

<%=link_to 'Upload images', new_asset_path , class: "btn btn-small btn-secondary"%> 