<script>
  //////////Show 2///////////////////////////

  $('ul.galleryviewer li').click(function(event){
   
    event.preventDefault();
    par = $(this).parent();
    height = par.parent().css('height').replace("px","");
    count = par.children().length;
    thisindex = $('ul.galleryviewer li').index(this);
    speed = 350;

    //console.log($(this).parent().children())

    /*
    console.log("count "+count)
    console.log("index "+thisindex)
    console.log("height "+height)
    */
      if(thisindex == 0){ // slide up 1
        //console.log("A")
          distance = -(height);
      }else if(thisindex == (count-1)){ // slide back to begin
        //console.log("b")
          distance = 0;
      }else{
        //console.log("c")
        //console.log("thisindex ="+ thisindex+" count="+ count)
          distance = (thisindex+1)*-(height);
      }
      topos = distance+"px";
      
      /*
      console.log(distance);
      */
      par.animate( {"margin-top":topos }, speed );

  });
</script>

<div class="row gallery">
         <ul class="galleryviewer">
  		     <% for asset in Asset.all %>
                <% if @gallery.assets.include?(asset) %>
           			<li class="slide">
           			<a href="#" rel="img.src" class="image" alt="<%=asset.caption%>" />
                   <%= image_tag asset.image(:large), :title=>asset.caption, :class=>"thumb"  %> 
           			</a>
          			</li>
                <% end %>
             <% end %>
          </ul>
        </div>