 
<% provide(:title, 'Listing') %>
 <h1>Listing </h1>

<div class="container">
       <div class="span2">Name</div>
      <div  class="span2"></div>
</div>

  
<%= will_paginate %>

<div class="container">
  <ul class="galleries">
  <%= render @galleries %>
  </ul>
</div>


<%= will_paginate %>
 
