<% provide(:title, @gallery.title) %>
<div class="row galleryviewer" >
	<section>
      <h1><%= @gallery.title %></h1>
      
      <%= render 'slideshow_customv1' %>

      <div class="gallery_share_link">
        Link:  <%= gallery_path(@gallery) %>
      </div>

    </section>
</div>

