@import "bootstrap";
@import "bootstrap-responsive";


/* No media query since this is the default in Bootstrap */

@media screen and (max-width: 620px) and (min-width: 480px){
  body {
      background-color:#FF0000;
  }
}
@media screen and (max-width: 920px) and (min-width: 621px){
  body {
      background-color:#333333;
  }
}



/* Extra small devices (phones, less than 768px) */
/*@media (max-width: 600px) { 
  body {
    padding-left: 10px;
    padding-right: 10px;
    background-color:#AAffAA;
  }
  .hero-unit{
   padding: 10px;
    h1{
     font-size: 2em;
   }

  }
  .btn-large{
    width: 80%; 
    height: auto; 
    font-size: 2.5em;
    line-height: 1em;
  }
}*/

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 601px) { 
  body {
    background-color:#FFEEEE;
  }
}*/

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) { 
  body {
    background-color:#EEFEEE;
  }
}*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) { 
  body {
    background-color:#EEEEFE;
  }
 }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { 

body {
  background-color:#ffffff;
}
 }
*/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

ul li.loggedin{
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 20px;

}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
#user_buttons{
  clear:both;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users, .galleries {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 7px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    .content{
      display:inline-block;
      white-space: nowrap;
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /*div {
      float: left;
      width: 70px;
      overflow: hidden;
     }*/
  }
 .timestamp {
  color: $grayLight;
  font-size: 85%;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

}
.subtitle{
  text-align:center;
  margin-bottom: -15px;
}

.galleryviewer{
  aside{
    padding: 10px;
    border: 1px $grayMediumLight solid;
  }
}

.galleryimage{
  
  #tabs{
    width: 30%;
    overflow-wrap: break-word;
    font-size: .85em;
    text-overflow: ellipsis;
    .field.url{
    }
  }

}
#fat-menu.admin{
  background-color: #553333;
}

/* jQuery sortable */

#header{ 
 #headerleft, #headerright {
      display:inline-block;
      width: 49%; 
      background-color:#DDD;
 }
}

 #sortarea{
      border: 1px #DDD solid;
      padding-left: 2px;
 
 #sortdiv1, #sortdiv2 {
      display:inline-block;
      width: 49%; 
      background-color:#DDD;
      min-height: 50px;
 }
}
#sortable, #sortable-toadd { 
  list-style-type: none; 
  margin: 4px; 
  padding: 4px; 
  width: 100; 

  li { 
    margin: 0 0 5px 0; 
    padding: 1px; 
    font-size: 1em; 
    height: 3em; 
    border: 1px #888 solid;
    overflow:hidden;
  }
  
  /*
  html>body #sortable li { 
    height: 2em; 
    line-height: 1.2em; 
    }
  .ui-state-highlight { height: 2em; line-height: 1.2em; }
*/

  .handle{
    display:inline-block;
    height: 100%;
    width:  25px;
     background: #999 url(asset-path( 'drag-icon.png' , image)) no-repeat 4px 13px;
    
  }

  .containercheck, .containerthumb, .containertext{
    display:inline-block;
    height:  100%;
    width:  50px;
    overflow: none;
  }
  .containercheck{
    background-color: #BBB;
    width:  0px;
    text-indent: -1000px;
    overflow:hidden;
  }

  .containerthumb{
      width:  16%;
      height: 100%;
      overflow:hidden;
      margin: 0 1% 0 1%;
  }

  .containertext{
      width:  65%;
      height: 100%;
      overflow:hidden;
    background-color: #EEE;
  }

}

/* animated loader */
#dvLoading{
   
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1000;
   left: 1px;
   top: 1px;
   display: none;

   #animator{
    background:  no-repeat center center;
    background-image: url(image-path('loading.gif'));
    height: 32px;
    width: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
   }

   #bg{ 
     background:#000000;
     opacity: .7;
     height: 100%;
     width: 100%;
     position: fixed;
     left: 1px;
     top: 1px;
   }

}

/* new gallery slideshow css */
/* bootstrp version */
#carousel-example-generic{
  height: 350px;
  width: 75%;
  margin: auto;
  
  .carousel-inner {
    background-color: #000;
    width: 100%;
    height: 100%;
    
    .item {
      height: 90%;
      xmargin-top: 10%;
    }

    .item img{
      height: 100%;
      margin:auto;
    }
  }
  .carousel-caption{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 10px;
  
  }
} /* end #carousel-example-generic */

/* custom version */
.row.gallery{
	clear:both;
	height:350px;
	width: 100%;
	overflow:hidden;
	padding: 0;
}

.galleryviewer{
	clear:both;
	overflow:hidden;
	width:100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

li.slide{
	height:100%; 
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li.slide img{ 
	height:100%; 
}



/* miscellaneous */

.debug_dump, .debug {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
} 
.debug {
  display: block;
  padding: 5.5px;
  margin: 0 0 5px;
  font-size: 12px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #FFFFDD;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}
