<footer class="footer">
  <small>
    Copyright ©<%=Time.new.year   %>. All rights reserved. Do not duplicate or redistribute in any form.
  
<span id="demo"></span>
<script type="text/javascript">
document.getElementById("demo").innerHTML=$( document ).width();;
</script>

</small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "help", help_path %></li> 
    </ul>
  </nav>
</footer>

<div id="dvLoading">
	<div id="bg">
		<div id="animator"></div>
	</div>
</div>